.product-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-heading h1 {
  font-size: 3rem;
  font-weight: 600;
}
.product-heading .ul ul{
  display: flex;
}
.product-heading .ul li {
  margin: 0 1vw;
  padding: 0.5vw;
  font-size: 1.7rem;
  font-weight: 600;
    &:hover{
      transform: translateY(-5px);
      color: brown;
    }

}

.p-list {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  flex-wrap: wrap;
}
.p-list .p-main{
    width:24%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: .5vw;
    margin: 1vw 0;
    overflow: hidden;
}
.p-list .p-main:hover{
  box-shadow: 1px 1px 5px black;
}
.p-list .img-div{
  width: 100%;
  overflow: hidden;
}
.p-list .img-div img {
  width: 100%;
}
.p-list .img-div img:hover{
  transition: .3s;
  transform: scale(1.2);
}
.p-main h1{
  font-size: 2rem;
  font-weight: 500;
}
.p-main p{
  font-size: 1.5rem;
}
.p-main h3{
  display: flex;
  justify-content: start;
  align-items: center;
}
.slider3-mrp{
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: line-through;
}
bbt{
  display: flex;
  width:50%;
}
.flex1{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}